<div class="main-image">
	<!-- <a class="call-now" href="tel:5555555555">
		<div>Call Now</div>
		<div>(555) 555 5555</div>
	</a> -->
	<!-- <div class="main-titles">
		<h1>Peaks Recovery Services</h1>
		<h3>Caring for the Colorado Springs Community</h3>
		<a class="button outline-white" href="tel:8885069818">Call Now</a>
	</div> -->
	<div class="social">
		<a href="#">
			<object data="/assets/icons/facebook.svg" type="image/svg+xml">Facebook</object>
		</a>
		<a href="#">
			<object data="/assets/icons/twitter.svg" type="image/svg+xml">Twitter</object>
		</a>
		<a href="#">
			<object data="/assets/icons/google.svg" type="image/svg+xml">Google</object>
		</a>
	</div>
	<img src="http://res.cloudinary.com/dbc2wlvk8/image/upload/c_fill,fl_any_format.lossy,h_600,w_1900/v1478236701/peaks/peaks-op/shutterstock_170148734_rdtlch.jpg" alt="Colorado mountain range" />
</div>
