<div class="side-menu">
	<ul>
		<li><a href="../alcohol-addiction/">Alcohol Addiction</a></li>
		<li><a href="../heroin-opioid-addiction/">Heroin Opioid Addiction</a></li>
		<li><a href="../meth-addiction/">Meth Addiction</a></li>
		<li><a href="../cocaine-addiction/">Cocaine Addiction</a></li>
		<li><a href="../process-addiction/">Process Addiction</a></li>
	</ul>
	</nav>
	<div class="contact-widget">
		<a href="tel:18885069818">
			<p>Call Today</p>
			<p><strong>1.888.506.9818</strong></p>
			<p>A Caring Recovery</p>
		</a>
	</div>
</div>
