
<div class="side-menu">
	<h3>Addictions We Treat</h3>
	<ul>
		<li><a href="../alcohol-addiction/">Alcohol Addiction</a></li>
		<li><a href="../heroin-opioid-addiction/">Heroin Opioid Addiction</a></li>
		<li><a href="../meth-addiction/">Meth Addiction</a></li>
		<li><a href="../cocaine-addiction/">Cocaine Addiction</a></li>
		<li><a href="../process-addiction/">Process Addiction</a></li>
	</ul>
	</nav>
	<div class="contact-widget">
		<a href="tel:+01-719-422-6423">
			<p>Call Today</p>
			<p><strong>719-422-6423</strong></p>
			<p>A Caring Recovery</p>
		</a>
	</div>
	<div class="contact-widget">
		<a href="/program-overview/intake-assessment/verify-insurance/">
			<p>Are You Insured?</p>
			<p><strong>Verify Insurance Here</strong></p>
		</a>
	</div>
	<div class="brochure-widget">
		<a href="https://res.cloudinary.com/dbc2wlvk8/image/upload/v1490655039/peaks/peaks-op/Peaks-Recovery-Services-Brochure.pdf">
			<p>Learn More</p>
			<p><strong>Download Brochure</strong></p>
		</a>
	</div>
</div>
