<div class="side-menu">
	<h3>Program Overview</h3>
	<ul>
		<li><a href="/program-overview/peaks-services/">Peaks Services</a></li>
		<li><a href="/program-overview/young-adults/">Young Adults</a></li>
		<li><a href="/program-overview/impaired-professionals/">Professional</a></li>
		<li><a href="/program-overview/military/">Military</a></li>
		<li><a href="/program-overview/staff/">Staff</a></li>
		<li><a href="/program-overview/intake-assessment/intake-process/">Intake Process</a></li>
	</ul>
	<div class="contact-widget">
		<a href="tel:+01-719-422-6423">
			<p>Call Today</p>
			<p><strong>719-422-6423</strong></p>
			<p>A Caring Recovery</p>
		</a>
	</div>
	<div class="contact-widget">
		<a href="/program-overview/intake-assessment/verify-insurance/">
			<p>Are You Insured?</p>
			<p><strong>Verify Insurance Here</strong></p>
		</a>
	</div>
	<div class="brochure-widget">
		<a href="https://res.cloudinary.com/dbc2wlvk8/image/upload/v1490655039/peaks/peaks-op/Peaks-Recovery-Services-Brochure.pdf">
			<p>Learn More</p>
			<p><strong>Download Brochure</strong></p>
		</a>
	</div>
</div>
