$primary: #6b9e78;
$secondary: #3C2826;
$light-neutral: #eee;
$neutral: #cccccc;
$white: #ffffff;
$black: #222;

*  {
	margin: 0;
	padding: 0;
	font-size: 16px;
	transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	font-family: 'Open Sans', sans-serif;
}
html {
	color: $black;
    overflow-x: hidden;
}
body {
	background: white;
}
body, main, footer {
	width: 100%;
	overflow-x: hidden;
}
header, main, footer {
	width: 100%;
}
section {
	padding: 6%;
	box-sizing: border-box;
}
section h3 {
	margin: 2rem auto;
	text-align: center;
}
p {
	margin: 8px 0;
}
ul {
	margin-left: 1.5rem;
}
a {
	cursor: pointer;
	color: currentColor;
    text-decoration: none;
	display: inline-block;
}
hr {
	margin: 16px auto;
	border-style: solid;
	border: solid 0.5px #eee;
}
h1 {
	color: white;
	font-size: 2.5em;
}
h2 {
	color: white;
	font-size: 2em;
	font-weight: 100;
}
h3 {
	color: $primary;
	font-size: 1.5em;
	margin: 1rem auto;
	text-align: center;
}
// Header
header {
	z-index: 1;
	width: 100%;
	display: block;
	position: relative;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
}
header img {
	width: 100%;
}

.connect a {
	padding: 6px;
	color: white;
	background: rgba($primary, 0.6);
}
.connect a:hover {
	background: none;
	box-sizing: border-box;
	background: rgba($primary, 0.3);
}
.connect > div:nth-child(1) > a:nth-child(1) {
	padding: 10px;
}
.connect > div:nth-child(2) > a:nth-child(1) {
	background: #55acee;
}
.connect > div:nth-child(2) > a:nth-child(2) {
	background: #3b5998;
}
.connect > div:nth-child(2) > a:nth-child(3) {
	background: #d94a39;
}
.logo {
    width: 25%;
	display: inline-block;
    vertical-align: middle;
}
.nav-bar {
	z-index: 1;
	color: black;
	width: 74% !important;
	display: inline-block !important;
	vertical-align: middle !important;
}
.nav-bar a {
	width: 100% !important;
	height: 100% !important;
	padding: 1rem 0 !important;
}
.nav-bar a:hover {
	color: black;
}
.nav-bar > ul > li {
	padding: 0 1rem !important;
}
.nav-list-main {
	background: $white;
	text-align: right !important;
}
.nav-list-sub {
	z-index: 1;
	min-width: 250px;
	background: $white;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}

// global
.transparent-primary {
	background: rgba($primary, 0.6);
}
.transparent-secondary {
	background: rgba($secondary, 0.6);
}
.slider {
	background-color: $light-neutral;
	border-bottom: 1.4rem solid $primary;
}
.slider > div {
	transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
}
.main-image {
	width: 100%;
	height: 300px;
	overflow: hidden;
	text-align: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: $light-neutral;
	h1 {
		margin-top: 100px;
	}
	h1, h2 {
		color: white;
		text-shadow: 0px 0px 5px #000;
	}
}
.main-title {
	overflow: hidden;
	max-height: 500px;
	text-align: center;
	position: relative;
	img {
		min-height: 250px;
	}
}
.title-wrap  {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 80%;
	margin: auto;
	display: block;
	position: absolute;
	> div {
		width: 43%;
		padding: 1rem;
		display: inline-block;
		vertical-align: middle;
		box-sizing: border-box;
	}
	h1, h2 {
		color: white;
		padding: 1rem;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1rem;
	}
}
.title-wrap > div:nth-child(2) {
	height: 100%;
}
.main-title img {
	top: 0;
	left: 0;
	width: 100%;
}

// profiles
.profiles {
	width: 100%;
}
.profiles img {
	width: 100% !important;
}
.bio-name {
	background: $primary;
	padding: 0.5rem;
	margin-top: -5px;
	h4, p {
		color: $white;
		font-weight: 300;
	}
}
.bio-toggle {
	color: #000;
	background: $light-neutral;
	padding: 0.5rem;
	cursor: pointer;
	text-align: center;
	margin-bottom: 0.5rem;
	p {
		font-weight: 100;
		font-size: 0.9rem;
	}
}
.full-bio {
	z-index: -1;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	height: 100%;
	width: 100%;
	transition: all 600ms ease-in-out !important;
	> div {
		display: block;
		margin: 5% auto;
		max-width: 80%;
		max-height: 80%;
		overflow-y: auto;
		background: white;
		padding: 2rem;
		width: 50%;
		box-shadow: 0 3px 9px rgba(0, 0, 0, 0.6);
		h4 {
			color: $primary;
		}
	}
}
.full-bio.active {
	opacity: 1;
	z-index: 1;
}
.close-button {
	font-weight: bold;
	cursor: pointer;
	background: $primary;
	display: inline-block;
	padding: 0.5rem;
	color: $light-neutral;
}
// pictures
.gallery {
	width: 90%;
    margin: auto;
}
.gallery > img {
	margin: 8px;
	width: 150px;
	max-height: 150px;
	border-radius: 3px;
	display: inline-block;
	border: solid 3px white;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}
.gallery > img:hover {
	border: solid 3px $primary;
	box-shadow: 0 3px 3px rgba(0,0,0,0.6);
}






.paralax {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.paralax .content {
	text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
}
.center {
	text-align: center;
}
.grey-bg {
	color: $white;
	background: $neutral;
}
.grey-bg h2{
	color: #fff;
}
.green-bg {
	color: $white ;
}
.response {
	color: $primary;
	margin: 8px auto;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}
// Buttons
.button {
	margin: 1rem;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 3px;
	text-transform: uppercase;
	padding: 0.5rem 1rem 0.5rem 1rem;
}
.light-neutral {
	color: $primary !important;
	background: $light-neutral;
	&:hover {
		background: lighten($light-neutral, 10%);
	}
}
.primary {
	background: $primary;
	color: $light-neutral;
	&:hover {
		background: lighten($primary, 10%);
	}
}
.read {
	color: $primary;
	padding: 8px;
	text-align: left;
	font-weight: 100;
	border-radius: 0;
	border-left: 1px solid $primary;
	&:hover {
	    background: none;
	    box-shadow: none;
	    border-left: none;
	    border-bottom: 1px solid $primary;
	}
}
.verify {
	display: block;
	text-align: center;
	position: relative;
	margin-top: -2.3rem;
	text-transform: uppercase;
	a {
		color: white;
		padding: 1rem;
		border-radius: 4px;
		background: $primary;
		box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
		&:hover {
			background: lighten($primary, 10%);
		}
	}
}

.social-m {
	position: absolute;
    text-align: center;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}
.social-m > a {
	margin: 8px;
	display: inline-block;
}
.social-m > a > object {
	width: 50px;
	height: 50px;
}

.social {
	margin-top: 44px;
	text-align: center;
}
.social > a {
	margin: 8px;
	display: inline-block;
}
.social > a > object {
	width: 50px;
	height: 50px;
}
/*
	layout
*/
.side-menu {
	margin-bottom: 1rem;
	ul {
		list-style: none !important;
		margin-left: 0 !important;
	}
	li {
		margin: 0.25rem auto;
	}
	ul li a {
		text-decoration: none;
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 0.5rem;
		&:hover {
			color: #fff;
			background: $primary;
		}
	}

}

// home
.boxes {
	max-width: none;
	text-align: left;
	margin: 0 16px 16px 16px;
	padding: 0 16px 16px 16px;
}
.boxes > div {
	width: 30%;
	margin: 8px;
	padding: 16px;
	border-radius: 3px;
	background: $light-neutral;
	display: inline-block;
}
.boxes > div h3 {
	color: $primary;
}
.boxes p {
    text-align: left;
}
.contact-section {
	background: rgba($primary, 0.4);
	span {
		color: $primary;
		font-weight: 100;
		font-size: 1.5rem;
		font-weight: thin;
		padding-bottom: 0.3rem;
		border-bottom: 1px solid $primary;
	}
}
// Contact
.contact-widget {
	margin: 8px;
	padding: 8px;
	text-align: center;
	border-radius: 8px;
	background: $secondary;
	p {
		color: $white;
		margin: 4px auto;
		font-weight: 100;
	}
	h3 {
		color: $white;
	}
	a {
		text-decoration: none;
	}
}
.brochure-widget {
	margin: 8px;
	padding: 8px;
	background: $primary;
	text-align: center;
	border-radius: 8px;
	p {
		color: $white;
		margin: 4px auto;
		font-weight: 100;
	}
	h3 {
		color: $white;
	}
	a {
		text-decoration: none;
	}
}
.contact-facility {
	text-align: center;
	h3 {
		color: white;
	}
	> div {
		color: white;
		padding: 1rem;
		border-radius: 4px;
		&:nth-child(1) {
			background: #00534a;
		}
		&:nth-child(2) {
			background: #382e70;
		}
	}
}

// panels/tabs
.tabs {
	background: $light-neutral;
}
.tabs > div {
	cursor: pointer;
	padding: 0.5rem;
	display: inline-block;
	&:hover {
		background: $light-neutral;
	}
}
.tab.active {
	color: $primary;
	background: $light-neutral;
	border-bottom: 4px solid $primary;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
}
.panel {
	display: none;
}
.panel.active {
	display: block;
}

// form
form {
	margin: auto;
	max-width: 960px;
	padding: 1rem;
	padding: 1rem;
}
form input, form textarea {
	width: 100%;
	border: none;
	padding: 0.5rem;
	margin: 1rem auto;
	box-sizing: border-box;
	border-bottom: 1px solid $neutral;
}
form input[type="submit"] {
	width: auto;
}
form img {
	padding-right: 1rem;
	padding-left: 1rem;
	max-width: 250px;
	max-height: 70px;
	vertical-align: middle;
	filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-webkit-filter: grayscale(1);
}
form img:hover {
	filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-webkit-filter: grayscale(0);
}
fieldset {
	border: 1px solid $neutral;
	padding: 1rem;
}
legend {
	padding: 0.5rem;
}
.response {
	font-size: 2rem;
	text-align: center;
}
footer > div:nth-child(2) {
	color: white;
	background: $primary;
}
footer > div {
	padding: 16px 0;
}

.img-100 {
	width: 100%;
}

.paralax {
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.paralax p {
	color: white;
	margin: auto;
}
.paralax h3 {
	color: white;
	margin: 1rem;
}
/*
	footer
*/
.upper-foot {
	color: $neutral;
	background: $light-neutral;
	> div {
		vertical-align: middle;
	}
}
.lower-foot {
	color: $white;
	background: $primary;
	a {
		color: #fff;
	}
}
footer > div {
	padding: 16px 0;
}
footer .links {
	color: $neutral;
	font-weight: 300;
	background: #222;
	border-top: 1px solid $white;
	border-bottom: 1px solid $white;
}
footer .links > * {
	text-align: left;
}
footer .links > div {
	margin: 16px 0;
}
footer .links > div > h3 {
	margin: 8px 0;
}
footer img {
	max-width: 250px;
	max-height: 70px;
	vertical-align: middle;

	filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-webkit-filter: grayscale(1);
}
footer img:hover {
	filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-webkit-filter: grayscale(0);
}
footer .copyright a {
	color: $white;
	text-decoration: underline;
}
footer .copyright a:hover {
	color: $neutral;
}
// mobile
@media screen and (max-width: 1030px) {
	.title-wrap {
		h1 {
			font-size: 1.5rem;
		}
		h3 {
			font-size: 1rem;
		}
	}
}
@media screen and (max-width: 940px) {
	.title-wrap div {
		width: 80%;
	}
	.title-wrap div:nth-child(1) {
		display: none;
	}
	.logo {
		margin: 1rem;
		width: 100%;
		display: block;
		text-align: center;
	}
	.nav-bar {
		width: 100% !important;
	}
	.hide-sm {
		display: none;
	}
}
@media screen and (max-width: 700px) {
	section:nth-of-type(1) img {
		width: 50%;
	}
	section:nth-of-type(1) h1 {
		font-size: 1.9rem;
	}
	section:nth-of-type(1) h2 {
		font-size: 1.6rem;
	}
	.connect a > span  {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	.title-wrap {
		h3 {
			display: none;
		}
	}
	.partners > div img {
		max-width: 75px;
	}
	.bio-wrap {
		width: 95% !important;
	}
	.hide-xs {
		display: none;
	}
}
