$white: #fff;
$black: #222;
$brown: #3C2826;
$grey: #a39894;
$green: #6b9e78;

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
html {
	color: $black;
    overflow-x: hidden;
}
body {
}
header {
}
main {
}
section {
	padding: 4%;
	text-align: center;
}
footer {
	padding: 2%;
	color: $white;
	background: $black;
}
p {
	max-width: 900px;
	text-align: left;
}
a {
	color: $green;
}
hr {
	height: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 1px solid #cacaca;
	border-left: 0;
	margin: 1.25rem auto;
	clear: both;
}
h1, h2, h3, p {
	margin-bottom: 1rem;
	line-height: 1.6rem;
}
h1 {
	font-size: 2.5rem;
	color: $green;
}
h2 {
	font-size: 2rem;
	color: $green;
}
h3 {
	font-size: 1.5rem;
	color: $green;
}
ul {
	line-height: 1.6rem;
}
// button, input[type="submit"], input[type="button"] {
// 	border: none;
// 	background: none;
// }
// .row {
// 	margin: 1rem auto;
// 	max-width: 75rem;
// }
.logo {
	position: absolute;
	max-height: 100px;
	top: 2rem;
	left: 2rem;
	height: 100px;
	width: 100px;

}
/*
	global
*/
.center {
	text-align: center;
}
.grey-bg {
	color: $white;
	background: $grey;
}
.grey-bg h2{
	color: #fff;
}
.green-bg {
	color: $white ;
}
.button {
	width: auto;
	margin: auto;
	cursor: pointer;
	padding: 16px 32px;
	border-radius: 3px;
	border: none;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
}
.button:hover{
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
	&:focus {
		border: none;
	}
}
.outline-green {
	background: $white;
	color: $green;
	border: solid 1px $green !important;
}
.outline-green:hover {
	color: $white;
	background: $green;
}
.outline-white {
	color: $white;
	border: solid 1px $white !important;
}
.outline-white:hover {
	color: $grey;
    background: $white;
}
.paralax {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
/*
	layout
*/
.side-menu {
	list-style: none !important;
	margin-bottom: 1rem;
}


.block {
	max-width: 62.5rem;
	margin: 1rem auto;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0.93rem;
	padding-left: 0.93rem;
}

.contact-bar {
	color: $grey;
    padding: 8px;
	background: #f8f8f8;
}
.contact-bar a {
	text-decoration: none;
}
.call-now {
	color: $white;
	padding: 16px;
	display: block;
	margin: 0 16px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	border-radius: 0px 0px 8px 8px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}
.call-now div {
    font-size: 1.5rem;
}
.call-now div:nth-child(2) {
	font-weight: bold;
}
.call-now:hover {
	box-shadow: 0 3px 3px rgba(0,0,0,0.6);
}
/*Menu Bar*/
nav {
	box-sizing: initial;
}
.nav-bar {
	z-index: 1;
	color: #6d387a;
	padding-top: 25px;
	height: 6rem;
}
.nav-tool {
	background: #fff;
}
.nav-list-main {
	text-align: right !important;
}
.nav-list-sub {
	z-index: 1;
	background: #fff;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
.nav-bar li > a {
	color: $green;
	padding: 1rem 2rem !important;
	text-decoration: none;
}
.nav-list-sub > li:nth-child(2) {
	font-weight: bold;
}
/*Nav ENd*/

.main-image {
	width: 100%;
	color: $white;
	position: relative;
}
.main-image img {
	width: 100%;
	max-height: 500px;
}
.main-image h1 {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 90%;
	height: 6rem;
	margin: auto;
	text-align: center;
	position: absolute;
	text-shadow: 0 3px 6px rgba(0,0,0,0.6);

}
/*
	home
*/
.boxes {
	color: $white;
	padding: 16px 0;
	margin: 16px;
}
.boxes > div {
	padding: 16px;
	border-radius: 3px;
	background: $green;
	display: inline-block;
	width: 30%;
}
.boxes > div h3{
	color: #fff;
}
.boxes > div:nth-child(2) {
	background: lighten($green, 10%);
}
.boxes > div:nth-child(3) {
	background: lighten($green, 20%);
}
.boxes p {
    text-align: left;
}
/*
	form
*/
form {

}
.contact-response {
	color: $green;
	margin: 8px auto;
	font-size: 1.5rem;
}
form input, form textarea {
	padding: 0.5rem;
	width: 100%;
	box-sizing: border-box;
	margin: 0.5rem 0.5rem;
	font-size: 0.9rem;
}
.contact-form textarea, .insurance-form textarea {
	max-width: 720px;
}
.main-contact input, .main-contact textarea, .main-contact textarea:focus, .main-contact input:focus,
.contact-form input, .contact-form textarea, .contact-form textarea:focus, .contact-form input:focus, .insurance-form textarea, .insurance-form textarea:focus, .insurance-form input, .insurance-form input:focus,  {
	border-radius: 0;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #cacaca;
	background: none;
}
.contact-form textarea::-webkit-input-placeholder,.contact-form input::-webkit-input-placeholder, .contact-form input:focus::-webkit-input-placeholder, .contact-form textarea:focus::-webkit-input-placeholder {
   color: #fff;
   font-size: 0.9rem;
}
.contact-form input:focus, .contact-form textarea:focus {
	border-bottom: 2px solid #8a8a8a;
}
form textarea, form input[type="submit"] {
	display: block;
	// margin: 0.5rem auto;
}

fieldset {
	padding: 1rem;
	border: 1px solid #cacaca;
	border-radius: 4px;
	margin: 1rem auto;
}
legend {
	padding: 0.3rem;
}
label {
	display: block;
	margin: 0;
	color: #000;
}

@media screen and (max-width: 940px) {
	.boxes div {
		display: block;
		width: 100%;
		margin: 4px;
	}

}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 375px) {

}
