* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

html {
    color: #222;
    overflow-x: hidden;
}

section {
    padding: 4%;
    text-align: center;
}

a {
    color: #6b9e78;
}

hr {
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #cacaca;
    border-left: 0;
    margin: 1.25rem auto;
    clear: both;
}

h1, h2, h3, p {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    color: #6b9e78;
}

h2 {
    font-size: 2rem;
    color: #6b9e78;
}

h3 {
    font-size: 1.5rem;
    color: #6b9e78;
}

ul {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

ul > ul {
    margin-left: 1rem;
}

.block {
    max-width: 960px;
    margin: 0.5rem auto !important;
}

.logo {
    position: absolute;
    max-height: 100px;
    top: 2rem;
    left: 2rem;
    height: 100px;
}

/*
	global
*/
.center {
    text-align: center;
}

.grey-bg {
    color: #fff;
    background: #a39894;
}

.grey-bg h2 {
    color: #fff;
}

.green-bg {
    color: #fff;
}

.button {
    width: auto;
    margin: auto;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 3px;
    border: none;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.button:hover:focus {
    border: none;
}

.read-more {
    color: #fff;
    padding: 8px;
    text-align: left;
    font-weight: 100 !important;
    border-left: 1px solid #fff;
    border-radius: 0;
}

.read-more:hover {
    border-left: none;
    border-bottom: 1px solid #fff;
    background: none;
    box-shadow: none;
}

.solid-green {
    background: #fff;
    color: #6b9e78;
    border: solid 1px #6b9e78 !important;
}

.solid-green:hover {
    color: #fff;
    background: #6b9e78;
}

.outline-green {
    text-shadow: 0px 2px 2px #000;
    color: #fff;
    border: solid 2px #6b9e78 !important;
}

.outline-green:hover {
    text-shadow: none;
    color: #fff;
    background: #6b9e78;
}

.outline-white {
    color: #fff;
    border: solid 1px #fff !important;
}

.outline-white:hover {
    color: #a39894;
    background: #fff;
}

.paralax {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*
	layout
*/
.side-menu {
    list-style: none !important;
    margin-bottom: 1rem;
}

.contact-bar {
    color: #a39894;
    padding: 8px;
}

.contact-bar a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 100;
}

.call-now {
    color: #fff;
    padding: 16px;
    display: block;
    margin: 0 16px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.call-now div {
    font-size: 1.5rem;
}

.call-now div:nth-child(2) {
    font-weight: bold;
}

.call-now:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

/*Menu Bar*/
nav {
    box-sizing: initial;
}

.nav-bar {
    z-index: 1;
    color: #6d387a;
    padding-top: 25px;
    height: 6rem;
}

.nav-tool {
    background: #fff;
}

.nav-list-main {
    text-align: right !important;
}

.nav-list-sub {
    z-index: 1;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.nav-bar li > a {
    color: #6b9e78;
    padding: 1rem 2rem !important;
    text-decoration: none;
}

.nav-list-sub > li:nth-child(2) {
    font-weight: bold;
}

/*Nav ENd*/
.main-image {
    width: 100%;
    color: #fff;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.main-image img {
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    height: 400px;
    min-width: 100%;
}

.main-image h1, .main-image h3 {
    color: #f8f8f8;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}

.main-titles {
    background: rgba(107, 158, 120, 0.5);
    text-align: center;
    margin: 1rem auto;
    border-radius: 0.2rem;
    padding: 2rem;
    width: 60%;
}

.social {
    margin-top: 44px;
    text-align: center;
}

.social > div {
    display: inline-block;
}

/*
	home
*/
.boxes {
    color: #fff;
    padding: 16px 0;
    margin: 16px;
    text-align: left;
}

.boxes > div {
    padding: 16px;
    border-radius: 3px;
    background: #6b9e78;
    display: inline-block;
    width: 30%;
}

.boxes > div h3 {
    color: #fff;
}

.boxes > div:nth-child(2) {
    background: #8ab294;
}

.boxes > div:nth-child(3) {
    background: #a9c6b0;
}

.boxes p {
    text-align: left;
}

/*
	form
*/
.contact-response {
    color: #6b9e78;
    margin: 8px auto;
    font-size: 1.5rem;
}

form input, form textarea {
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0.5rem 0.5rem;
    font-size: 0.9rem;
}

.contact-form textarea, .insurance-form textarea {
    max-width: 720px;
}

.main-contact input, .main-contact textarea, .main-contact textarea:focus, .main-contact input:focus,
.contact-form input, .contact-form textarea, .contact-form textarea:focus, .contact-form input:focus, .insurance-form textarea, .insurance-form textarea:focus, .insurance-form input, .insurance-form input:focus {
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #cacaca;
    background: none;
}

.contact-form textarea::-webkit-input-placeholder, .contact-form input::-webkit-input-placeholder, .contact-form input:focus::-webkit-input-placeholder, .contact-form textarea:focus::-webkit-input-placeholder {
    color: #fff;
    font-size: 0.9rem;
}

.contact-form input:focus, .contact-form textarea:focus {
    border-bottom: 2px solid #8a8a8a;
}

form textarea, form input[type="submit"] {
    display: block;
}

fieldset {
    padding: 1rem;
    border: 1px solid #cacaca;
    border-radius: 4px;
    margin: 1rem auto;
}

legend {
    padding: 0.3rem;
}

label {
    display: block;
    margin: 0;
    color: #000;
}

/* Foot */
.copyright {
    padding: 1rem;
    background: #222;
}

.upper-foot {
    background: #3C2826;
    text-align: center;
    padding: 1rem;
}

.upper-foot > div {
    display: inline-block;
    vertical-align: top;
    margin: 1rem;
    width: 25%;
}

footer {
    color: #fff;
}

/*Icons*/
@media screen and (max-width: 940px) {
    .boxes div {
        display: block;
        width: 100%;
        margin: 4px;
    }
}

@media screen and (max-width: 768px) {
    .upper-foot > div {
        width: 100%;
        margin: auto;
        display: block;
    }
}
