* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    font-family: 'Open Sans', sans-serif;
}

html {
    color: #222;
    overflow-x: hidden;
}

header, main, footer {
    width: 100%;
}

section {
    padding: 4%;
    text-align: center;
}

a {
    color: #6b9e78;
    text-decoration: none;
}

p {
    margin: 1rem auto;
    font-size: 1.1rem;
}

hr {
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #cacaca;
    border-left: 0;
    margin: 1.25rem auto;
    clear: both;
}

h1 {
    color: #6b9e78;
    font-size: 2.5em;
    font-weight: normal;
}

h2 {
    color: #6b9e78;
    font-size: 2em;
    font-weight: 300;
}

h3 {
    color: #6b9e78;
    font-size: 1.5em;
    font-weight: 300;
}

h4 {
    font-size: 1.3rem;
    font-weight: 700;
}

.center-text {
    text-align: center;
}

ul {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

ul li {
    font-family: "raleway",sans-serif;
    margin: 1rem auto;
}

form {
    margin: 2rem auto;
}

input, textarea {
    margin: 1rem;
    padding: 0.5rem;
}

textarea, input[type="text"], input[type="number"], input[type="email"], input[type="tel"] {
    border: none;
    outline: none;
    max-width: 100%;
    background: none;
    border-bottom: solid 1px #cacaca;
}

textarea:focus, textarea:active,
input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus,
input[type="text"]:active, input[type="number"]:active, input[type="email"]:active, input[type="tel"]:active {
    border: solid 1px #cacaca;
}

button, input[type="submit"], input[type="button"] {
    margin: auto;
    display: block;
    background: none;
}

.block {
    max-width: 960px;
    margin: 0.5rem auto !important;
}

/*
	global
*/
.paralax {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.paralax .content {
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
}

.center {
    text-align: center;
}

.grey-bg {
    color: #fff;
    background: #968a86;
}

.grey-bg h2 {
    color: #fff;
}

.green-bg {
    color: #fff;
}

.response {
    color: #6b9e78;
    margin: 8px auto;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.button {
    margin: auto;
    border: none;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 3px;
    text-shadow: none;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.outline-green {
    color: #6b9e78;
    border: solid 1px #6b9e78;
}

.outline-green:hover {
    color: #fff;
    background: #6b9e78;
}

.solid-green {
    color: #f5f5f5;
    background: #6b9e78;
}

.solid-green:hover {
    background: #8ab294;
}

.outline-white {
    color: #fff;
    border: solid 1px #fff;
}

.outline-white:hover {
    color: #968a86;
    background: #fff;
}

.read-more {
    color: #fff;
    padding: 8px;
    text-align: left;
    font-weight: 100;
    border-radius: 0;
    border-left: 1px solid #fff;
}

.read-more:hover {
    background: none;
    box-shadow: none;
    border-left: none;
    border-bottom: 1px solid #fff;
}

/*
	header
*/
header {
    position: relative;
    width: 100%;
    display: block;
}

header img {
    width: 100%;
}

.connect {
    margin-bottom: 16px;
}

.connect a {
    color: #6b9e78;
    padding: 0.8rem;
    text-decoration: none;
    font-size: 0.8rem;
}

.connect a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.connect > div:nth-child(2) a {
    padding: 8px;
    vertical-align: middle;
}

.connect > div:nth-child(2) > a:nth-child(1) {
    background: #55acee;
}

.connect > div:nth-child(2) > a:nth-child(2) {
    background: #3b5998;
}

.connect > div:nth-child(2) > a:nth-child(3) {
    background: #d94a39;
}

.menu-bar {
    padding: 2rem;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.nav-bar {
    color: #6b9e78;
    vertical-align: middle;
}

.nav-list-main {
    background: #fff;
    text-align: right;
}

.nav-list-sub {
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.nav-bar li > a {
    color: #6b9e78;
    padding: 1rem 1.2rem;
    text-decoration: none;
}

.main-image {
    width: 100%;
    color: #fff;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.main-image-m {
    color: #fff;
    position: relative;
}

.main-image-m img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: center;
}

.main-image img {
    top: 0;
    left: 0;
    z-index: -1;
    height: 400px;
    min-width: 100%;
    position: absolute;
}

.main-image h1, .main-image h3 {
    color: #f8f8f8;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}

.main-titles {
    width: 60%;
    padding: 2rem;
    margin: 2rem auto;
    text-align: center;
    border-radius: 0.2rem;
}

.main-titles h3 {
    margin-bottom: 2rem;
}

.social-m {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.social-m > a {
    margin: 8px;
    display: inline-block;
}

.social-m > a > object {
    width: 50px;
    height: 50px;
}

.social {
    margin-top: 44px;
    text-align: center;
}

.social > a {
    margin: 8px;
    display: inline-block;
}

.social > a > object {
    width: 50px;
    height: 50px;
}

/*
	layout
*/
.side-menu {
    margin-bottom: 1rem;
}

.side-menu ul {
    list-style: none !important;
    margin-left: 0 !important;
}

.side-menu li {
    margin: 0.25rem auto;
}

.side-menu ul li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.side-menu ul li a:hover {
    color: #fff;
    background: #6b9e78;
}

/*
	home
*/
.boxes {
    color: #fff;
    padding: 16px 0;
    margin: 16px;
    text-align: left;
}

.boxes > div {
    width: 30%;
    margin: 8px;
    padding: 16px;
    border-radius: 3px;
    background: #6b9e78;
    display: inline-block;
}

.boxes > div h3 {
    color: #fff;
}

.boxes > div:nth-child(2) {
    background: #8ab294;
}

.boxes > div:nth-child(3) {
    background: #a9c6b0;
}

.boxes p {
    text-align: left;
}

/*
	contact
*/
.contact-widget {
    background: #6b9e78;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    border-radius: 0 0 16px 0;
}

.contact-widget p {
    color: #fff;
    margin: 4px auto;
    font-weight: 100;
}

.contact-widget h3 {
    color: #fff;
}

.contact-widget a {
    text-decoration: none;
}

/*
	footer
*/
.upper-foot {
    color: #968a86;
    background: #f5f5f5;
}

.upper-foot > div {
    vertical-align: middle;
}

.lower-foot {
    color: #fff;
    background: #6b9e78;
}

.lower-foot a {
    color: #fff !important;
}

footer > div {
    padding: 16px 0;
}

footer .links {
    color: #968a86;
    font-weight: 300;
    background: #222;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

footer .links > * {
    text-align: left;
}

footer .links > div {
    margin: 16px 0;
}

footer .links > div > h3 {
    margin: 8px 0;
}

footer img {
    max-width: 250px;
    max-height: 70px;
    vertical-align: middle;
    filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

footer img:hover {
    filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

footer .copyright a {
    color: #fff;
    text-decoration: underline;
}

footer .copyright a:hover {
    color: #968a86;
}

/*
	media
*/
@media screen and (max-width: 940px) {
    .boxes div {
        display: block;
        width: 100%;
        margin: 4px;
    }
    .menu-bar {
        padding: 2rem 0;
    }
}

@media screen and (max-width: 768px) {
    .upper-foot > div {
        width: 100%;
        margin: auto;
        display: block;
    }
}
